<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteRule ^([a-zA-Z0-9_-]+)/?$ /~rikuti/web_sovellus/ringbanan-master/index.php?osio=$1
   RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ /~rikuti/web_sovellus/ringbanan-master/index.php?osio=$1&uutisid=$2
</IfModule>
