.news-article {
	color: #3d485e;
	background-color: #7f7b7c;
	border-radius: 20px 20px 20px 20px;
	float: right;
	width: 62.5em;
}

.news-article h3 {
	margin: 1em;
}

.news-article p {
	margin-left: 1em;
}

.news-article-time {
	float: left;
	margin-left: 1em;
}

.news-article-actions {
	float: right;
	margin-right: 1em;
}